<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.theintsuhtwe.thecareapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <meta-data
        android:name="com.facebook.sdk.ApplicationId"
        android:value="@string/facebook_app_id" />

    <application
        android:name=".Patient"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_patient"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheCareAppPatient">
        <activity android:name=".activities.BeforeCheckOut"></activity>
        <activity android:name=".activities.NoteActivity" />
        <activity android:name=".activities.DetailPrescriptionActivity" />
        <activity android:name=".activities.ChatActivity" />
        <activity android:name=".activities.SpecialQuestionActivity" />
        <activity android:name=".activities.CaseSummaryActivity" />
        <activity android:name=".activities.QuestionActivity" />
        <activity android:name=".activities.DetailCheckoutActivity" />
        <activity android:name=".activities.CheckoutActivity" />
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.MainActivity" />

        <service
            android:name=".fcm.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="" />
    </application>

</manifest>